@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Radley", serif;
}

body {
    background-color: #af4c0f23;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}


.orange {
    color: #af4c0f;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

.container {
    width: 100%;
    padding: 0 64px;
}

.row {
    margin: 0 80px; 
}


/*Navigation*/
.nav__container {
    position: relative;
    display: inline-block;
}

.nav__img--wrapper {
    width: 100vw;
    background-color: #af4c0f;  
}

.nav__img {
    position: absolute;
    opacity: .15; 
    height: 100%;
    width: 100vw;
}

.nav__row {
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    width: 200px;
    margin-left: 32px;
}

.nav__lists {
    display: flex;
    list-style-type: none;
    margin-right: 32px;
    z-index: 2;
}

.nav__link {
    text-decoration: none;
    color: black;
    padding: 0 24px;
    font-size: 20px;
    font-weight: 500;
    
}

.nav__contact {
    border: 1px solid #af4c0f;
    border-radius: 50px;
    background-color: #af4c0f;
    color: white;
    padding: 12px 32px;
}

.nav__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__input {
    margin: 32px 0 54px 0;
}